/* Styles for larger screens */
.two-column-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: rgb(244, 245, 246);
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  .fontcolorchange{
    font-weight: bolder;
    color: green;
    display: inline; /* or inline-block */}
  .changecolor2{
    font-size: 3rem;
  }
  .text-column2 {
    flex: 1;
    padding-right: 20px;
    margin-top: 2rem;
   
  }
  .text-column2 p{
 font-size: 20px;
 margin-left: 0rem;
  }
  
 
  .main-containerr p{
    margin: 0px;
    padding-bottom: 2rem;
    text-align: center;
    background-color: rgb(244, 245, 246);
  }
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .two-column-container2 {
      flex-direction: column;
    }
  
    .text-column2{
      padding: 0;
      text-align: center;
      margin-top: 2rem;
    }
    .image-column2 {
      padding: 0;
      text-align: center;
     
    }
  }
  
  /* Adjustments for extra small screens */
  @media (max-width: 576px) {
    .text-column2 h2 {
      font-size: 1.5em;
    }
  
    .text-column2 p {
      font-size: 0.9em;
    }
  }
  